In [1]:
import pandas as pd 
import numpy as np

In [2]:
x_train=pd.read_csv("CompleteDataSet/x_train_all.csv")
y_train=pd.read_csv("CompleteDataSet/y_train_all.csv")
x_test=pd.read_csv("CompleteDataSet/x_test_all.csv")
y_test=pd.read_csv("CompleteDataSet/y_test_all.csv")

In [5]:
x_train

,0,1,2,3,4,5,6,7,8,9,...,2294,2295,2296,2297,2298,2299,2300,2301,2302,2303
0,78.0,77.0,76.0,82.0,87.0,92.0,104.0,119.0,117.0,120.0,...,87.0,79.0,72.0,76.0,83.0,95.0,99.0,98.0,95.0,94.0
1,73.0,75.0,79.0,78.0,76.0,75.0,89.0,107.0,133.0,125.0,...,96.0,93.0,85.0,77.0,69.0,73.0,83.0,100.0,101.0,101.0
2,72.0,75.0,79.0,77.0,81.0,89.0,105.0,109.0,86.0,90.0,...,98.0,95.0,88.0,80.0,73.0,71.0,74.0,80.0,89.0,95.0
3,67.0,70.0,74.0,80.0,93.0,107.0,110.0,96.0,69.0,100.0,...,112.0,92.0,87.0,82.0,77.0,72.0,70.0,72.0,81.0,88.0
4,74.0,74.0,73.0,72.0,77.0,87.0,104.0,109.0,84.0,83.0,...,100.0,98.0,99.0,100.0,99.0,89.0,78.0,66.0,68.0,72.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9685,247.0,220.0,254.0,213.0,129.0,208.0,254.0,255.0,255.0,255.0,...,35.0,29.0,27.0,26.0,25.0,23.0,22.0,26.0,26.0,27.0
9686,151.0,118.0,254.0,255.0,255.0,255.0,254.0,254.0,254.0,252.0,...,37.0,31.0,30.0,30.0,30.0,30.0,29.0,26.0,28.0,27.0
9687,255.0,255.0,255.0,255.0,255.0,255.0,255.0,255.0,255.0,255.0,...,41.0,49.0,42.0,36.0,33.0,36.0,39.0,31.0,39.0,43.0
9688,255.0,253.0,255.0,255.0,255.0,255.0,255.0,255.0,255.0,255.0,...,38.0,27.0,26.0,27.0,35.0,28.0,27.0,26.0,26.0,24.0
9689,252.0,189.0,238.0,255.0,255.0,245.0,219.0,212.0,140.0,40.0,...,34.0,23.0,23.0,30.0,32.0,23.0,23.0,26.0,20.0,17.0

In [4]:
x_test

,0,1,2,3,4,5,6,7,8,9,...,2294,2295,2296,2297,2298,2299,2300,2301,2302,2303
0,65.0,74.0,75.0,75.0,80.0,83.0,76.0,71.0,81.0,81.0,...,56.0,49.0,50.0,53.0,57.0,58.0,62.0,68.0,71.0,71.0
1,201.0,222.0,202.0,172.0,142.0,112.0,86.0,73.0,73.0,61.0,...,118.0,162.0,176.0,191.0,166.0,143.0,129.0,104.0,104.0,100.0
2,40.0,42.0,44.0,42.0,41.0,41.0,40.0,38.0,36.0,40.0,...,35.0,24.0,23.0,25.0,25.0,24.0,24.0,27.0,30.0,32.0
3,255.0,255.0,255.0,255.0,255.0,255.0,255.0,255.0,255.0,255.0,...,37.0,36.0,37.0,35.0,35.0,35.0,34.0,34.0,34.0,33.0
4,59.0,53.0,47.0,41.0,38.0,36.0,35.0,34.0,33.0,35.0,...,17.0,18.0,18.0,19.0,19.0,18.0,17.0,16.0,16.0,16.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3085,112.0,109.0,111.0,116.0,122.0,108.0,91.0,76.0,65.0,54.0,...,68.0,70.0,68.0,66.0,63.0,59.0,55.0,57.0,61.0,66.0
3086,249.0,234.0,247.0,254.0,254.0,255.0,255.0,255.0,255.0,255.0,...,26.0,23.0,22.0,23.0,23.0,21.0,18.0,20.0,24.0,23.0
3087,255.0,255.0,255.0,255.0,254.0,234.0,232.0,188.0,255.0,255.0,...,38.0,27.0,33.0,185.0,255.0,255.0,255.0,255.0,255.0,255.0
3088,25.0,28.0,40.0,68.0,169.0,198.0,171.0,142.0,133.0,140.0,...,255.0,255.0,255.0,255.0,251.0,230.0,187.0,155.0,135.0,124.0
3089,52.0,49.0,48.0,59.0,84.0,113.0,100.0,82.0,59.0,77.0,...,52.0,52.0,53.0,54.0,54.0,54.0,57.0,66.0,65.0,62.0

In [6]:
y_train

      0
0     0
1     0
2     0
3     0
4     0
...  ..
9685  9
9686  9
9687  9
9688  9
9689  9

[9690 rows x 1 columns]

In [7]:
y_test # represents 31% of the dataset

      0
0     1
1     4
2     6
3     7
4     4
...  ..
3085  1
3086  3
3087  3
3088  1
3089  0

[3090 rows x 1 columns]

In [8]:
from sklearn.cluster import KMeans

In [9]:
kmeans=KMeans(n_clusters=10)
kmeans.fit(x_train)
pred = kmeans.predict(x_train)

c:\Users\anshu\anaconda3\lib\site-packages\sklearn\cluster\_kmeans.py:870: FutureWarning: The default value of `n_init` will change from 10 to 'auto' in 1.4. Set the value of `n_init` explicitly to suppress the warning
  warnings.warn(

In [11]:
pred

array([7, 7, 7, ..., 3, 3, 3])

In [28]:
frame = pd.DataFrame(pred)
frame

      0
0     7
1     7
2     7
3     7
4     7
...  ..
9685  3
9686  3
9687  3
9688  3
9689  3

[9690 rows x 1 columns]

In [30]:
from sklearn.metrics import accuracy_score
accuracy = accuracy_score(y_train,pred )
print("Accuracy:", accuracy)

Accuracy: 0.09411764705882353